<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwtJog0eD0v9PoXSMpC8C5BXBplwgelDs</string>
	<key>GCM_SENDER_ID</key>
	<string>497628432741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bryanpineda.Translate</string>
	<key>PROJECT_ID</key>
	<string>translate-word-70f58</string>
	<key>STORAGE_BUCKET</key>
	<string>translate-word-70f58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497628432741:ios:7d2781c723f73a7764f98c</string>
</dict>
</plist>